.menu {
    display: flex;
    align-items: flex-start;
    top: 0;
    right: 0;
    height: 188px;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1;
  
    display: flex;
    flex-direction: column;
    padding: 32px 20px;
  
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }
  
  .menu.open {
    transform:translateY(0);
  }
  
  .menu-item {
    color: white;
  }
  
  .menu-item:hover {
    color:white;
  }
  
  
.burger {
    position: fixed;
    display: flex;
    right: 52px;
    top: 44px;
    outline: none;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;
  }

  .burger:before, .burger:after {
    content: '';
    width: 30px;
    height: 2px;
    position: absolute;
    background: #1a1a1a;
    transition: all 250ms ease-out;
    will-change: transform;
  }
  
  .burger:before {
    transform: translateY(-3px);
  }
  
  .burger:after {
    transform: translateY(3px);
  }
  
 .burger.open:before {
    transform: translateY(0) rotate(45deg);
    background:#fff;
  }
  
  .burger.open:after {
    transform: translateY(0) rotate(-45deg);
    background:#fff;
  } 